target/
build/
_build/
.gdbinit
*.swp
*.swo
*.DS_Store
**/.vscode
*.ipch
*.code_workspace
*.hex
*.elf
*.o
*.pem
*.zigbee
*.b#*
*.s#*
public.c
__pycache__/
*.pyc
outputs/
*.BSK
*.BSP
*.L1
*.L2
*.L3
*.L4
*.OLN
*.SMB
*.SMT
*.TSK
*.TSP
*.centroid
*.dri
*.info
gc_key.c
gc_key.h
ID
blue-iris-labs-iot-provisioner.json
blue-iris-labs-289016-firebase-adminsdk.json
